configuration {
    show-icons: false;
}

* {
    bg: #00000099;
    bg-alt: #ffffff12;
    fg: #FFFFFF;
    accent: #FFFFFF;
    
    background-color: transparent;
    text-color: @fg;
}

window {
    transparency: "real";
    location: center;
    anchor: center;
    fullscreen: false;
    width: 500px;
    height: 360px;
    background-color: @bg;
    border: 1px solid;
    border-color: #ffffff33;
    padding: 20px;
}

mainbox {
    spacing: 20px;
    orientation: vertical;
    children: [ "top-message", "middle-wrapper", "listview" ];
}

top-message {
    padding: 0px;
    children: [ "textbox-msg" ];
    expand: false;
}

textbox-msg {
    expand: true;
    horizontal-align: 0.5;
    vertical-align: 0.5;
    str: "  Now Playing"; 
    font: "JetBrains Mono Bold 16";
}

middle-wrapper {
    orientation: horizontal;
    spacing: 20px;
    expand: true; 
    children: [ "album-art", "custom-text-box" ];
}

album-art {
    width: 170px; 
    height: 170px; 
    background-color: @bg-alt;
    background-image: url("~/.config/rofi/nowplaying/album_art.png", height);                                  
    expand: false; 
}

custom-text-box {
    expand: true;
    padding: 20px;
    background-color: @bg-alt;
    children: [ "textbox-custom" ];
}

textbox-custom {
    vertical-align: 0.5;
    horizontal-align: 0.5;
    markup: true; 
    font: "JetBrains Mono Bold 14";
    str: "Loading...";
}

listview {
    columns: 3;
    lines: 1;
    dynamic: true;
    reverse: false;    
    spacing: 15px;
    expand: false; 
}

element {
    padding: 12px;
    cursor: pointer;
    background-color: @bg-alt;
    orientation: horizontal;
}

element selected {
    background-color: @accent;
    text-color: #000000;
}

element-text {
    cursor: inherit;
    vertical-align: 0.5;
    horizontal-align: 0.5;
    font: "JetBrains Mono 14";
}

